/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Colors
   ========================================================================== */
@white:						#fff;
@black:						#1d1b1c;
@wheaton:					#005596;
@wheaton_hover:		#01365f;
@slate:						#7493c1;
@gray-dark:				#42454a;
@gray-light:			#a6a6a6;
@green:						#b7c52a;
@green_end:				#bfca3f;
@green_hover:			#a4af26;
@green_hover_end:	#acb239;
@purple:					#5b3762;
@mudkip:					#60a9e7;
@blue:						#005596;
@green-bright:		#4ab838;
@orange:					#e05838;
@yellow:					#efcb43;
@modal_arrow:     #201e1f;
@modal_arrow_bg:  #c0bebf;
@dark_blue:				#17212d;

/* ==========================================================================
   Typography
   ========================================================================== */
body {-webkit-font-smoothing: antialiased;}
.oswald {font-family: 'Oswald', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.georgia {font-family: Georgia, serif;}

.paragraph, p {
	.georgia;
	font-size: 18px;
	font-weight: 300;
	color: @gray-dark;
	line-height: 1.7em;
}

.detail {
	.opensans;
	font-size: 13px;
}

h1, h2, h3, h4 {
	.oswald;
	text-transform: uppercase;
	font-weight: bold;
	color: @black;
	margin-top: 0;
	a, a:hover {
		text-decoration: none;
		color: @black;
	}
}

h1 {font-size: 60px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 13px;}

.link-style {
	color: @wheaton;
	text-decoration: none;
	transition: all, .2s;
	&:hover {
		cursor: hand;
		cursor: pointer;
		text-decoration: underline;
	}
}

/* ==========================================================================
   Mixins
   ========================================================================== */
.button {
	color: @white;
	border: none;
	border-radius: 2px;
	background: @green;
	background: -moz-linear-gradient(top,@green 0%, @green_end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green), color-stop(100%,@green_end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,@green 0%,@green_end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,@green 0%,@green_end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,@green 0%,@green_end 100%); /* IE10+ */
	background: linear-gradient(to bottom,@green 0%,@green_end 100%); /* W3C */
	transition: all, .2s;
	.oswald;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 16px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
	&:hover {
		color: @white;
		text-decoration: none;
		background: @green_hover; /* Old browsers */
		background: -moz-linear-gradient(top,@green_hover 0%, @green_hover_end 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green_hover), color-stop(100%,@green_hover_end)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,@green_hover 0%,@green_hover_end 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,@green_hover 0%,@green_hover_end 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,@green_hover 0%,@green_hover_end 100%); /* IE10+ */
		background: linear-gradient(to bottom,@green_hover 0%,@green_hover_end 100%); /* W3C */
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
	}	
}

.button.glyphicon {
	font-family: 'Glyphicons Halflings';
}

.factbox {
	background: @white;
	.opensans;
	font-size: 13px;
	padding: 12px;
	margin-bottom: 1em;
	h3 {
		margin-top: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
	h4 {
		margin-top: 1em;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: none;
	}
	p {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: none;
	}
}

/* ==========================================================================
   Map
   ========================================================================== */
#viewport {
	overflow: scroll;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
}
#map {
	position: relative;
	background-size: 100% auto !important;
	min-width: 100vw;
	min-height: 100vh;
	margin-bottom: 50px;
	&.z1 {
		height: 1080px;
		width: 1185px;
		background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
		.zoomout {
			background: darken(@white, 10%);
		}
	}
	&.z2 {
		height: 1620px;
		width: 1777px;
		background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
	}
	&.z3 {
		height: 2160px;
		width: 2370px;
		background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
		.zoomout {
			background: darken(@white, 10%);
		}
	}
}
#map_controls {
	position: fixed;
	top: 80px;
	right: 40px;
	z-index: 99;
	border: 1px solid darken(@white, 10%);
	border-radius: 3px;
	a, a:active, a:visited {
		width: 30px;
		height: 30px;
		font-size: 1.8em;
		line-height: 25px;
		font-weight: bold;
		text-align: center;
		display: block;
		background: @white;
		color: @gray-light;
		transition: all, .2s;
		&:first-child {
			border-bottom: 1px solid darken(@white, 10%);
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}
.location {
	list-style-type: none;
	position: absolute;
	display: inline-block;
	&:hover .quicklook, &.active .quicklook {
		display: inline-block;
	}
	&.active .quicklook {
		z-index: 30;
	}
}
.quicklook {
	display: none;
	z-index: 31;
	position: absolute;
	width: 380px;
	bottom: 32px;
	left: -49px;
	background: @black;
	color: @white;
	padding: 10px;
	&:after {
		top: 100%;
		left: 15%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(0, 0, 0, 0);
		border-top-color: @black;
		border-width: 15px;
		margin-left: -15px;		
	}
	p {
		.opensans;
		color: @white;
		font-size: 12px;
	}
	h2 {
		font-size: 16px;
		padding-bottom:5px;
		a, a:hover, a:active, a:visited {
			color: @white;
		}
	}
	.col-xs-7 {
		padding-left: 10px;
		padding-right: 0;
	}
 .col-xs-5 {
		padding-left: 0;
		padding-right: 0;
	}
	.thumb {
		width: 100%;
	}
	.button {
		background: @white;
		color: @black;
		text-shadow: none;
		padding: 2px 16px;
		display: table;
		font-weight: 500;
		font-size: 14px;
	}
}
.academic, .academics {
	.pin{background:@purple;}
	h2 {border-bottom: 2px solid @purple;}
}
.athletic, .athletics {
	.pin {background:@mudkip;}
	h2 {border-bottom: 2px solid @mudkip;}
}
.administrative {
	.pin {background:@yellow;}
	h2 {border-bottom: 2px solid @yellow;}
}
.dining {
	.pin {background:@orange;}
	h2 {border-bottom: 2px solid @orange;}

}
.residential {
	.pin {background:@blue;}
	h2 {border-bottom: 2px solid @blue;}
}
.student-life {
	.pin {background:@green-bright;}
	h2 {border-bottom: 2px solid @green-bright;}
}

.pin {
	width: 16px;
  height: 16px;
  background: #000;
  border-radius: 16px;
  border: 2px solid #fff;
	display: block;
}

/* ==========================================================================
   List View
   ========================================================================== */
.list-view {
	height: 100%;
	background-color: @white;
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	z-index: 1000;

	.list-view-inner {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.list-view-search {
		width: 100%;
		padding: 1em 1em 0;
		position: relative;

		.list-view-location-search {
			width: 100%;
			padding: 0.25em 2em 0.25em 0.5em;
			border: 1px solid @modal_arrow_bg;
			line-height: 1.75em;
		}

		.list-view-location-search-submit {
			padding: 0.4em 0.5em;
			color: @modal_arrow_bg;
			background: transparent;
			border: none;
			font-size: 1em;
			position: absolute;
			top: 1.25em;
			right: 1.25em;
		}
	}

	.list-view-categories {
		padding: 0.5em 1em;
		font-size: 10px;
		text-transform: uppercase;

		.list-view-category {
			width: 50%;
			padding: 0 0.5em;
			float: left;

			label {
				vertical-align: middle;
				margin-top: -2px;
			}
		}
	}

	.list-view-locations {
		margin: 0;
		padding: 0;
		list-style: none;

		.list-view-location {
			padding: 1em;
			border-bottom: 1px solid @modal_arrow_bg;

			.list-view-location-image {
				width: 30%;
				float: left;
			}

				img {
					max-width: 100%;
					height: auto;
				}

			.list-view-location-details {
				width: 65%;
				float: right;

				.list-view-location-title {
					margin-bottom: 0.5em;
				}

				.list-view-location-categories {
					margin-bottom: 0.5em;
					color: @black;
					font-size: 12px;
					font-weight: bold;

					.list-view-location-category {
						position: relative;
						padding-left: 22px;
						padding-right: 1em;
						line-height: 22px;
						display: inline-block;
					}

					.list-view-location-category:before {
						content: '';
						width: 18px;
						height: 18px;
						background: @black;
						border: 2px solid #fff;
						border-radius: 9px;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
					}

					.list-view-location-category.academics:before {
						background: @purple;
					}

					.list-view-location-category.administrative:before {
						/* TODO */
					}

					.list-view-location-category.athletics:before {
						background: @mudkip;
					}

					.list-view-location-category.dining:before {
						background: @orange;
					}

					.list-view-location-category.residential:before {
						background: @yellow;
					}

					.list-view-location-category.student-life:before {
						/* TODO */
					}
				}

				.list-view-location-description {
					p {
						margin-bottom: 0;
						font-size: 12px;
					}
				}
			}
		}

		.list-view-location.list-view-location-category-name {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.list-view-button {
		width: 120px;
		background: @dark_blue;
		border: 2px solid @white;
		border-top: none;
		font-weight: normal;
		text-align: center;
		display: inline-block;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 240px;
		left: 400px;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;

			&:active, &:focus, &:visited {
				color: @white;
				text-decoration: none;
			}

			span {
				padding-right: 5px;
			}
	}
}

.list-view.closed {
	left: -400px;
}

/* ==========================================================================
   Base
   ========================================================================== */

body { }

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

a {
	color: @wheaton;

	&:hover {
		color: @wheaton_hover;
	}
}



.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover, &:active, &:focus {
		background: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* ==========================================================================
   Header
   ========================================================================== */
.navbar {
	margin: 0;
	position: relative;
}
.navbar-default {
	background: @wheaton;
	border: none;
	color: @white;
	.navbar-brand {
		color: @white;
		&:hover, &:focus {
			color: @white;
		}
	}
	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus, .navbar-nav>li>a {
		color: @white;
		background: transparent;
	}
	.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
		color: @white;
		background: transparent;
	}
}
.navbar-header, .navbar-collapse {
	display: inline-block;
	float: left;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0px solid transparent;
}
#ctas {
	display: inline-block;
	float: right;
	margin-top: 1em;
	.button {
		padding: 6px 24px;
	}
}
.social {
	displaY: inline-block;
	a {
		display: inline-block;
		border-radius: 24px;
		width: 24px;
		height: 24px;
		background: #fff;
		text-align: center;
		margin-right: 4px;
		&:last-child {margin-right: 10px;}
	}
	.fa {
		display: inline-block;
		margin: 4px 0 0 4px;
	}
}
/* ==========================================================================
   Location Content
   ========================================================================== */

article {
	img {max-width: 100%;}
	.container-fluid {
		padding-top: 50px;
	}
}

.single-location {
	article {
		.container-fluid {
			max-width: 1800px;
			padding-left: 90px;
			padding-right: 90px;
		}
	}
}

.single-location {
	.contact {
		margin-top: 2em;
	}
}

.single-location {
	.contact:first-of-type {
		margin-top: 0;
	}
}

#hero {
	position: relative;
}

#pulldown {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	a {
		.oswald;
		font-size: 18px;
		text-transform: uppercase;
		background: @white;
		padding: 12px 24px;
		color: @gray-light;
		text-decoration: none;
		&:hover {
			color: @black;
		}
	}
}
#description {
	padding-bottom: 25px;
	p {
		margin-bottom: 1.6em;
	}
}

.single-location {
	.section-title {
		font-weight: normal;
	}
}

.single-location {
	.categories {
		margin-bottom: 1em;
		color: @purple;
		font-weight: bold;
		text-transform: uppercase;
	}
}

aside .button {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
}
#quickfacts, #directory {
	list-style-type: none;
	padding: 0;
	li {
		margin-bottom: 1em;
	}
}

#directory {
	li {
		width: 50%;
		margin-bottom: 0.5em;
		float: left;
		font-weight: bold;
	}
}

#contact-info {
	margin-top: 3em;
	p {
		margin-bottom: 5px;
		font-size: 12px;
	}
	a, a:hover {
		color: @black;
		text-decoration: none;
	}
	a.more-info {
		color: @wheaton;
		font-weight: bold;
		&:hover {
			color: @wheaton_hover;
			text-decoration: underline;
		}
	}
}
#hours {
	margin: 0 0 0 12px;
	p {
		.opensans;
		font-size: 13px;
		margin: 0;
	}
}
.fa {
	font-size: 1.3em !important;
	padding-right: 4px;
}
#gallery {
	display: table;
	padding: 15px 0;
	margin: 30px 0 0 0;
	background: darken(@white, 5%);
}

.photo {
	position: relative;
	padding: 0;
	img {
		position: relative;
		width: 100%;
		padding: 15px 0;
		z-index: 1;
	}
	.meta {
		.button {
			padding: 12px 32px;
		}
	}
	&:hover {
		.meta {
			opacity: 1;
		}
	}
}

.ekko-lightbox {
	.modal-content {
		max-width: 90%;
		margin: auto;
		background-color: transparent;
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.modal-header {
		border-bottom: none;
	}

	.modal-header .close {
		color: @white;
		font-size: 2.5em;
		font-weight: normal;
		opacity: .8;
		outline: none;
	}

	.modal-body {
		padding-bottom: 10px;
	}

	.modal-footer {
		margin-top: 0;
		padding-top: 0;
		color: #fff;
		border: none;
		font-size: 12px;
	}

	.glyphicon-menu-left {
		padding-left: 15px;
		left: -8%;
		float: left;
		text-align: left;
	}

	.glyphicon-menu-right {
		padding-right: 15px;
		right: -8%;
		float: right;
		text-align: right;
	}
}

.ekko-lightbox-nav-overlay {
	a {
		color: @modal_arrow;
		font-size: 16px;
		text-shadow: none;
		opacity: 1;
		text-decoration: none;
	}

	a:hover {
		color: @modal_arrow;
	}

	a:empty {
		width: 58%;
		position: absolute;
	}

	a:before {
		padding: 3px 5px;
		background: @modal_arrow_bg;
		border-radius: 50%;
	}

	a:first-child:before {
		padding: 6px 7px 5px;
	}

	a:nth-child(2n):before {
		padding: 6px 7px 5px;
	}
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
	position: absolute;
	z-index: 90;
	bottom: 0;
	width: 100%;
	.oswald;
	padding: 15px 0;
	background: @black;
	color: @white;
	a {
		color: @white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.social {
		float: right;
		a, a:hover {
			color: @black;
		}
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
	.photo {
		&:nth-child(2n+1) {
			padding: 0 15px 0 0;
			.meta {
				left: 0;
				right: 15px;
			}
		}
		&:nth-child(2n) {
			padding: 0 0 0 15px;
			.meta {
				left: 15px;
				right: 0;
			}
		}

		.meta {
			position: absolute;
			top: 15px;
			bottom: 15px;
			opacity: 0;
			transition: all, .4s;
			background: rgba(0,0,0,.35);
			text-align: center;
			z-index: 2;
			p {
				margin: 30% 0 1.4em;
				color: @white;
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	#map {
		background-size: 100% auto !important;
		&.z1 {
			height: 1620px;
			width: 1777px;
			background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
		}
		&.z2 {
			height: 2160px;
			width: 2370px;
			background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
		}
		&.z3 {
			height: 2752px;
			width: 2910px;
			background: url(/app/themes/map/assets/img/map-sm.png) no-repeat;
		}
	}
}

@media (min-width: @screen-lg-min) { }


@media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
	.single-location {
		.entry-content.col-sm-9 {
			width: 66.66666667%;
		}
		aside.col-sm-3 {
			width: 33.33333333%;
		}
	}
}

@media (max-width: @screen-lg-min) {
	.single-location {
		article {
			.container-fluid {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}


@media (max-width: @screen-md-min) { }

@media (max-width: @screen-sm-min) {
	#gallery {
		padding: 0;
	}

	.photo {
		img {
			padding: 0;
		}
	}

	.meta {
		p {
			margin: 0;
		}
	}

	aside {
		.button {
			margin-top: 1em;
		}
	}

	/* List View */
	.list-view {
		width: 50%;

		.list-view-button {
			left: 100%;
		}

		.list-view-categories {

			.list-view-category {
				width: 50%;
			}
		}
	}

	.list-view.closed {
		left: -50%;
	}
}


@media (max-width: @screen-xs-min) {
	/* List View */
	.list-view {
		width: 100%;

		/* TODO: Close button */
		.list-view-inner {
			padding-top: 2em;
		}

		.list-view-button {
			left: 100%;
		}
	}

	.list-view.closed {
		left: -100%;
	}
}

