/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Colors
   ========================================================================== */
@white:				#fff;
@black:				#1d1b1c;
@wheaton:			#005596;
@slate:				#7493c1;
@gray-dark:		#42454a;
@gray-light:	#a6a6a6;
@green:				#b9c525;
@purple:			#5b3762;
@mudkip:			#60a9e7;
@orange:			#e05838;
@yellow:			#efcb43;

/* ==========================================================================
   Typography
   ========================================================================== */
body {-webkit-font-smoothing: antialiased;}
.oswald {font-family: 'Oswald', sans-serif;}
.opensans {font-family: 'Open Sans', sans-serif;}
.georgia {font-family: Georgia, serif;}

.paragraph, p {
	.georgia;
	font-size: 18px;
	font-weight: 300;
	color: @gray-dark;
	line-height: 1.7em;
}

.detail {
	.opensans;
	font-size: 13px;
}

h1, h2, h3, h4 {
	.oswald;
	text-transform: uppercase;
	font-weight: bold;
	color: @black;
	margin-top: 0;
	a, a:hover {
		text-decoration: none;
		color: @black;
	}
}

h1 {font-size: 60px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 13px;}

.link-style {
	color: @wheaton;
	text-decoration: none;
	transition: all, .2s;
	&:hover {
		cursor: hand;
		cursor: pointer;
		text-decoration: underline;
	}
}

/* ==========================================================================
   Mixins
   ========================================================================== */
.button {
	color: @white;
	border-radius: 2px;
	background: @green;
	transition: all, .2s;
	.oswald;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 16px;
	&:hover {
		background: darken(@green, 15%);
		color: @white;
		text-decoration: none;
	}	
}

.factbox {
	.opensans;
	font-size: 13px;
	background: darken(@white, 2%);
	padding: 12px;
	margin-bottom: 1em;
	h3 {
		margin-top: 0;
		padding-bottom: 2px;
		border-bottom: 1px solid;
	}
	h4 {
		margin-top: 1em;
	}
}

/* ==========================================================================
   Base
   ========================================================================== */

body { }

/* ==========================================================================
   Header
   ========================================================================== */
.navbar {
	margin: 0;
}
.navbar-default {
	background: @wheaton;
	border: none;
	color: @white;
	.navbar-brand {
		color: @white;
		&:hover, &:focus {
			color: @white;
		}
	}
	.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus, .navbar-nav>li>a {
		color: @white;
		background: transparent;
	}
	.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
		color: @white;
		background: transparent;
	}
}


/* ==========================================================================
   Location Content
   ========================================================================== */

article {
	img {max-width: 100%;}
	.container-fluid {
		padding-top: 50px;
	}
}

#hero {
	position: relative;
}

#pulldown {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	a {
		.oswald;
		font-size: 18px;
		text-transform: uppercase;
		background: @white;
		padding: 12px 24px;
		color: @gray-light;
		text-decoration: none;
		&:hover {
			color: @black;
		}
	}	
}
aside .button {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
}
#quickfacts, #contact-info {
	list-style-type: none;
	padding: 0;
}
#quickfacts {
	li {
		margin-bottom: 1em;
	}
}
#hours {
	margin: 0 0 0 12px;
	p {
		.opensans;
		font-size: 13px;
		margin: 0;
	}
}
.fa {
	font-size: 1.3em !important;
	padding-right: 4px;
}
#gallery {
	display: table;
	padding: 15px 0;
	margin: 30px 0 0 0;
	background: darken(@white, 5%);
}

.photo {
	position: relative;
	padding: 0;
	img {
		position: relative;
		width: 100%;
		padding: 15px 0;
		z-index: 1;
	}
	.meta {
		.button {
			padding: 12px 32px;
		}
	}
	&:hover {
		.meta {
			opacity: 1;
		}
	}
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
	.oswald;
	padding: 25px 0;
	background: @black;
	color: @white;
	a {
		color: @white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { 
	.photo {
		&:nth-child(2n+1) {
			padding: 0 15px 0 0;
			.meta {
				left: 0;
				right: 15px;
			}
		}
		&:nth-child(2n) {
			padding: 0 0 0 15px;
			.meta {
				left: 15px;
				right: 0;
			}
		}
	
		.meta {
			position: absolute;
			top: 15px;
			bottom: 15px;
			opacity: 0;
			transition: all, .4s;
			background: rgba(0,0,0,.35);
			text-align: center;
			z-index: 2;
			p {
				margin: 30% 0 1.4em;
				color: @white;
			}
		}
	}
}

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
